<%- include('partials/upperHeader') %>
<link rel="stylesheets" href="stylesheets/collectiveExp_anxiety.css">
<%- include('partials/lowerHeader') %>

<% if(myPost=="not"){ %>

  <div class="text-center" style="margin-top: 2%; margin-left: 6%;">
  Share with the community
    <a class="btn btn-outline-primary" href="/posts/<%= category %>/add" role="button">Share Here</a>
    <a class="btn btn-outline-primary"style="margin-left: 10%;" href="/posts/<%= category %>/my" role="button">MyPosts</a>
  </div>

<hr>
<br>
  <% if(message.length>0){ %>
  <div class= "text-center alert alert-danger">
      <%= message %>
  </div>
    <% } %>
<% } %>

<!--Experience cards begin-->
<div class="container py-4">

    <% posts.forEach((post,i)=>{%>
    <div class="card mb-4 " style="border-radius: 20px;">
        <div class="card-body">
            <h5 class="card-title"><%= post.postTitle %></h5>
            <p class="card-text"><%= post.postBody.substr(0, 400) %></p>
            <a href="/posts/<%= post._id %>/<%= myPost %>" class="btn btn-outline-primary" role="button">Read more</a>
        </div>
        <br>
    </div>
    <% }) %>
    <!-- /.card -->
</div>
<!--Experience cards end-->


<%- include('partials/footer') %>
