<%- include('partials/upperHeader') %>
<link rel="stylesheets" href="stylesheets/collectiveExp_anxiety.css">
<%- include('partials/lowerHeader') %>

<!--Quote cards begin-->
<div class="container py-4">
 <div class="col-sm-6 col-md-4">
    <% quotes.forEach((quote,i)=>{%>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= quote.quote %></h5>
            <p class="card-text"><%= quote.author %></p>
        </div>
        <br>
    </div>
    <% }) %>
     </div>
    <!-- /.card -->
</div>
<!--Quote cards end-->


<%- include('partials/footer') %>
