<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="/stylesheets/collective_exp.css">
<%- include('partials/lowerHeader') %>


<div class="container py-4">

    <% quotes.forEach((quote,i)=>{%>
    <div class="card mb-4 " style="border-radius: 20px;">
        <div class="card-body">
            <h5 class="card-title"><%= quote.quote %></h5>
            <p class="card-text"><%= quote.author %></p>
        </div>
        <br>
    </div>
    <% }) %>
</div>



<%- include('partials/footer') %>
