<%- include('partials/upperHeader') %>
<%- include('partials/lowerHeader') %>

<!--Experience cards begin-->
<div class="container">
    <div class="card" style="border-radius: 20px;">
        <div class="card-body">
            <h5 class="card-title"><%= post.postTitle %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.username %></h6>
            <p class="card-text"><%= post.postBody %></p>
        </div>
    </div>
</div>

</div>
<div class="container">
    <div class="card" style="border: white;">
        <div class="card-body">
            <form action="/posts/<%= postId %>/add" method="POST">
                <p class="card-text"><textarea id="experienceText" class="form-control" cols="10" rows="2"
                        name="commentBody" type="text" style="width: 100%; border-radius: 20px;"></textarea></p>
                </p>
                <button class="btn btn-outline-primary" type="submit">Comment</button>
            </form>
        </div>
    </div>
    <div class="container">
        <% comments.forEach((comment,i)=>{%>
        <div class="card" style="border-radius: 20px;">
            <div class="card-body">
                <p><%= comment.commentBody %></p>
            </div>
        </div>
        <% }) %>

    </div>

</div>

<%- include('partials/footer') %>